<nav class="flex justify-center  bg-sky-600  relative ">
    <ul class="flex space-x-4 ">
      <li class="bg-sky-600 text-white px-4 py-2"><a href="http://localhost:4200/">Home</a></li>
      <li class="bg-blue-950 text-white px-4 py-2 group">
        Acerca 
    <ul class="hidden group-hover:block absolute bg-blue-950 text-white mt-2 ">
      <li class="px-4 py-2">Autoridades</li>
      <li class="px-4 py-2">Consejo Estudiantil</li>
      <li class="px-4 py-2">Cronogrma de Actividades</li>
      </ul>
</li>
<li class="bg-blue-950 text-white px-4 py-2 group">
    Servicios 
<ul class="hidden group-hover:block absolute bg-blue-950 text-white mt-2 ">
  <li class="px-4 py-2">Plataforma.E</li>
  <li class="px-4 py-2">Matriculas</li>
  </ul>
  </li>
  <li class="bg-blue-950 text-white px-4 py-2 group">
    Eventos
<ul class="hidden group-hover:block absolute bg-blue-950 text-white mt-2 ">
  <li class="px-4 py-2">Memorias</li>
  <li class="px-4 py-2">P.Encargado</li>
</ul>
</li>
</ul>
  </nav>
