<section class="one">
    <div class="grid grid-cols-2 gap-8 p-2 w-4/5 mx-auto"> 
      <img class="flex w-384 h-512 rounded-full"  alt="" width="584" height="512"  src="https://scontent.fcue2-1.fna.fbcdn.net/v/t1.6435-9/91895597_1554085334744657_8630368874413424640_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=be3454&_nc_eui2=AeFTGphIZBqXAs-wJfhmH5_x0WwkbRBaHPnRbCRtEFoc-VDYtNA-vYaXaj2TSPcJCnUukmhzLGdArXtZeqloEMmI&_nc_ohc=NqzD4poIB9oAX8uvtcP&_nc_ht=scontent.fcue2-1.fna&oh=00_AfCMTEHwBkOsHo4HIn3KVX26yf7RCtu3HkYpobyp-yyTFA&oe=65CE17BD" >
      <h1>Unidad Educativa 
        <br> de los rios</h1>
    </div>
    </section>
     <h2>"En la Unidad Educativa Cazadores de los Rios, cultivamos mentes brillantes y abrimos puertas a un futuro prometedor. Aquí, cada estudiante es guiado con pasión, destreza y compromiso, creando un ambiente de aprendizaje inspirador donde las habilidades se fortalecen y los sueños se hacen realidad."</h2>
    
